/* universal styling starts here */
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Lexend+Deca:wght@100..900&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Lexend Deca", sans-serif;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
}

html{
    font-size: 100%;
    scroll-behavior: smooth;
    background-color: #0a0f1c;
}

section{
    padding-top: 2rem 9%;
}

h2{
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

span{
    background: linear-gradient(to right, #0000ff,#00bfff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* universal styling ends here */

/* header section starts here */
.header{
    position: fixed;
    top: 0;
    left: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2%;
    background-color: #0a0f1c;
    width: 100%;
    z-index: 5;
    border-bottom: 1px solid rgb(80, 79, 79);
}

.header .logo{
    display: flex;
    align-items: center;
    /* margin-left: 1rem; */
    font-size: 1.5rem;
}

.header .logo:hover{
    cursor: pointer;
}

.header .logo p{
    padding-left: 1rem;
    background: linear-gradient(to right, #0000ff,#00bfff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header .btn{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .btn a{
    /* display: inline-block; */
    margin: 0 1rem;
     color: white;
     position: relative;
     transition: color 0.3s ease;
}

.header .btn a::after{
    content: "";
    position: absolute;
    /* top: 0; */
    left: 0;
    bottom: -5px;
    /* bottom: 0%; */
    width: 0%;
    height: 2px;
    background-color: #00a2ff;
    transition: width 0.3s ease;
}

.header .btn a:hover::after{
    width: 100%;
}

/* .header .btn a{
   
} */

.header .btn p{
    color: white;
    background: linear-gradient(to right, #0d98e9,#00e1ff);
    padding: 0.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    /* height: 1.5rem;
    /* width: 7rem; */
}

.header .btn p:hover{
    cursor: pointer;
    box-shadow: 0 0 15px rgba(8, 157, 194, 0.9);
}

.header .btn a:hover{
    color: #00a2ff;
}
/* Header section ends here */

/* hero section starts here */
.hero{
    margin-top: 10rem;
    /* margin-bottom: 10rem; */
    display: flex;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: 1px solid rgb(80, 79, 79);
    /* justify-content: center; */
}

.left-col{
    margin-right: 9rem;
    /* width: 50rem; */
}



/* .left-col h2{
    /* font-size: 4rem;
    margin-bottom: 2rem; */
    /* color: white; */
/* } */ 

/* .left-col h2 span{
    background: linear-gradient(to right, #0000ff,#00bfff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

.left-col .full-stack{
    margin-bottom: 1rem;
    color: #8c96a1;
    margin-bottom: 1rem;
}

.left-col .my-work{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.left-col .my-work .view{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #0d98e9,#00e1ff);
    width: 12rem;
    height: 3rem;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem 1rem 1.5rem;
    color: white;
}

.left-col .my-work img{
    position: absolute;
    width: 1rem;
    margin-left: 8rem;
    margin-top: 0.2rem;
    transition: transform 0.3s  ease;
}

.left-col .my-work .view:hover{
    cursor: pointer;
    box-shadow: 0 0 15px rgba(8, 157, 194, 0.9);
    
}

.left-col .my-work .view:hover img{
    transition: 0.3s;
    transform: scale(1.1);
    transform: translateX(0.5rem);
}

.left-col .resume{
    justify-content: space-between;
    height: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid rgb(80, 79, 79);
    padding: 0.9rem 1.5rem 2rem 1.5rem;
    margin-right: 6rem;
    color: white;
}

.left-col .resume:hover{
    cursor: pointer;
    color: black;
    background-color: #00e1ff;
    border: none;
    opacity: 0.8;
    transition: 0.1s;
}
/* .right-col{
display: inline-block;
    width: 40rem;
    height: 23rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
background-color: brown;
} */


.right-col img{
    width: 40rem;
    height: 23rem;
    margin-right: -15rem;
    border-radius: 1rem;
    margin-bottom: 1.5rem;
}
/* hero section ends here */

/* journey section starts here */
.journey{
    /* display: flex; */
    margin-top: 5rem;
    /* margin-bottom: 5rem; */
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(80, 79, 79);
    /* background-color: #8c96a1; */
}

.my-journey{
    text-align: center;
    justify-content: center;
}

.my-journey p{
    justify-content: center;
    text-align: center;
    color: #8c96a1;
    /* width: 50rem; */
}

.works{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 1rem;
}

.work{
    display: flex;
    flex-direction: column;
    width: 20rem ;
    height: 20rem;
    background-color: #0b0d17;
    color: white;
    /* opacity: 0.1; */
    /* margin-left: 1rem; */
    margin: 0.5rem;
    margin-top: 2rem;
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: 1rem;
    /* box-shadow: 0 4px 10px rgba(0,0,0,0.4); */
    border: 0.1rem solid rgb(80, 79, 79);
    transition: tranform 0.3s ease;
}

.work:hover{
    transition: 0.3s;
    transform: scale(1.1);
    transform: translateY(-10px);
    box-shadow: 2px 2px 30px 0.5px rgba(8, 51, 194, 0.4);
}

.work .img{
    position: relative;
    background: #032549;
    width: 3rem;
    height: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    transition: transform o.3s ease;
}

.work:hover .img{
    transition: 0.3s;
    transform: scale(1.1);

}

/* .work .img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 2.5rem;
    background-color: rgba(133, 28, 28, 0.5);
    opacity: 0,5;
    z-index: 1;
} */

.work .img img{
    margin-left: 0.5rem;
    margin-top: 0.3rem;
    width: 2rem;
    /* z-index: 5; */
}

.work .skills h3{
    color: white;
    margin-bottom: 1rem;
}

.work .skills p{
    color: #8c96a1;
    /* font-size: 0.9rem; */
    margin-bottom: 1rem;
} 

.work .items ul li{
    color: white;
    margin-left: 1rem;
    padding: 0.3rem;
}

/* .work .items ul{
    list-style: none;
} */

/* /* .work .items ul li{
    position: relative;
} */
/* 
.work .items ul li::before{
    content:"." ;
    color: #00bfff;
} */

.items li::marker{
    color: #074281;
    font-size: 1.2rem;  
}

.explore{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3rem;
    /* margin-left: 35rem; */
    margin-bottom: 3rem;
    background-color: #00bfff;
    width: 15rem;
    height: 3rem;
    padding: 1rem;
    border-radius: 0.5rem;
    color: black;
}

.explore:hover{
    cursor: pointer;
    box-shadow: 0 0 1rem rgba(8, 157, 194, 0.7);
    transition: 0.3s;
}

.explore img{
    /* background-color: #00e1ff; */
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 0.5rem;
    transition: transform 0.3s ease;
}

.explore:hover img{
    transition: 0.3s;
    transform: scale(1.1);
    transform: translateX(0.3rem);
}

/* journey section ends here */

/* contacts sections start here */
.contacts{
     border-bottom: 1px solid rgb(80, 79, 79);
    /* margin-top: 3rem; */
    margin-bottom: 1rem;
}

.contact{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    padding-left: 3rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
     /* border-bottom: 1px solid rgb(80, 79, 79); */
}

.left-col .devjourney{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.left-col .devjourney p{
    padding-left: 1rem;
    background: linear-gradient(to right, #002fff,#00e1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-col .future{
    width: 30rem;
    color: #8c96a1;
    margin-top: 1rem;
}

.middle-col{
    display: flex;
    flex-direction: column;
    /* margin-top: 5rem; */
    margin-left: -25rem;
}

.middle-col p{
color: white;
/* margin-bottom: -2rem; */
}

.middle-col .btns{
    display: flex;
    flex-direction: column;
    /* padding: 1rem; */
    margin-top: 1rem;
    /* color: #8c96a1; */
}

.middle-col .btns a{
    color: #8c96a1;
    padding-top: 0.5rem;
}

.middle-col .btns a:hover{
    color: #00a2ff;
}

.right-col{
    display: flex;
    flex-direction: column;
    margin-right: 15rem;
    /* margin-left: -10rem; */
}

.right-col p{
    color: white;
    margin-bottom: 2rem;
}

.right-col .images{
    display: flex;
    /* padding-right: 1rem; */
}


.right-col .image{
    align-items: center;
    margin-right: 1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 0.8rem;
    background-color: #262935


}

.right-col .image:hover{
    cursor: pointer;
    background-color: #0b4cc4; 
}

.right-col .image img{
    width: 1rem;
    height: 1rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

/* contact sections ends here */

/* footer section starts here */
.footer{
    margin-bottom: 3rem;
}


.footer-container{
    margin-top: 2rem;
    text-align: center;
    justify-content: center;

}

.footer-container p{
   color: #8c96a1; 
   font-size: small;
}
/* footer section ends here */


/* media-queries starts here */

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 480px
*/
@media (min-width: 320px) and (max-width: 480px) {


 .header .btn{
    display: none;
 }

 .hero{
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
 }

 .left-col{
    display: flex;
    flex-direction: column;
    padding-left: 8rem;
 }

 .left-col h2{
    font-size: 3rem;
 }

 .left-col p{
    font-size: 1rem;
    width: 18rem;
 }

 .my-work{
    flex-direction: column;
    margin-top: -20rem;
    height: 5rem;
 }

 .my-work .resume{
    margin-top: 1rem;
    width: 12rem;
 }
  
 .right-col img{
    margin-top: 3.5rem;
    margin-left: -1rem;
    width: 18rem;
    height: 10rem;
 }

 .my-journey h2{
    margin-bottom: -0.2rem;
    font-size: 2.5rem;
 }
 
 .my-journey p{
    padding: 1rem;
    /* font-size: 1rem; */
 }

 .works{
    flex-direction: column;
    padding-left: 1rem;
 }

 .work{
    width: 18rem;
    height: 22rem;
 }

 .explore{
    margin: 1rem auto 0.5rem auto;
    /* margin-bottom: 1rem; */
    /* margin-left: 1rem; */
 }

 .contact{
    flex-direction: column;
 }

 .contact .left-col{
    margin-left: -10.5rem;
 }

 .contact .left-col .future{
    width: 18rem;
    /* text-align: justify; */
 }

 .contact .middle-col{
    margin-left: -2.5rem;
    margin-top: 2rem;
 }

 .contact .right-col{
    margin-top: 2rem;
    margin-left: -2.5rem;
    width: 20rem;
 }

 .contact .right-col .images{
    margin-top: -1rem;
 }

}